@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin 'daisyui';
:root {
	--spacing-base-define: 1rem;
	--page-width-define: 620px;
	--page-width-sm-define: 360px;
	--spacing-base: var(--spacing-base-define);
	--spacing-xs: calc(var(--spacing-base) * 0.25);
	--spacing-sm: calc(var(--spacing-base) * 0.5);
	--spacing-md: calc(var(--spacing-base) * 0.75);
	--spacing-lg: calc(var(--spacing-base) * 1.5);
	--spacing-xl: calc(var(--spacing-base) * 2);
	--spacing-clamp: clamp(
		var(--spacing-sm),
		var(--spacing-base),
		var(--spacing-base)
	);
	--spacing-clamp-sm: clamp(
		var(--spacing-xs),
		var(--spacing-sm),
		var(--spacing-sm)
	);
	--content-space: var(--spacing-base);
	--page-space: var(--content-space);
	--page-width: 680px;
}

@plugin 'daisyui/theme' {
	name: 'nwp-light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(27% 0.006 286.033);
	--color-primary: oklch(58% 0.158 241.966);
	--color-primary-content: oklch(100% 0.00011 271.152);
	--color-secondary: oklch(44% 0.017 285.786);
	--color-secondary-content: oklch(98% 0 0);
	--color-accent: oklch(59% 0.249 0.584);
	--color-accent-content: oklch(94% 0.028 342.258);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(100% 0.00011 271.152);
	--color-success: oklch(59% 0.145 163.225);
	--color-success-content: oklch(95% 0.052 163.051);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(93% 0.032 17.717);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin 'daisyui/theme' {
	name: 'nwp-dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(25.33% 0.016 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary: oklch(58% 0.158 241.966);
	--color-primary-content: oklch(100% 0.00011 271.152);
	--color-secondary: oklch(44% 0.017 285.786);
	--color-secondary-content: oklch(98% 0 0);
	--color-accent: oklch(59% 0.249 0.584);
	--color-accent-content: oklch(94% 0.028 342.258);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(100% 0.00011 271.152);
	--color-success: oklch(59% 0.145 163.225);
	--color-success-content: oklch(95% 0.052 163.051);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(93% 0.032 17.717);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@theme {
	--color-terminal-primary: #00ff9c;
	--color-terminal-success: #3cff00;
	--color-terminal-error: #ff3b3b;
	--color-terminal-warning: #ffb300;
	--color-terminal-info: #00c8ff;

	--font-mono: 'JetBrains Mono', 'Fira Code', monospace;

	--shadow-glow: 0 0 12px rgba(0, 255, 156, 0.4);
}

@layer components {
	.btn-nwp {
		@apply inline-flex cursor-pointer items-center gap-2 border-transparent bg-transparent px-3 py-2 text-center capitalize transition duration-200 ease-in-out;
	}

	.btn-nwp:hover,
	.btn-nwp.active,
	.btn-nwp:active {
		@apply opacity-80;
	}
}

body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.bar {
	background-color: oklch(55.139% 0.13998 257.59);
	color: oklch(100% 0.00011 271.152);
}

@layer components {
	.button {
		@apply cursor-pointer transition;
		/* box-shadow: var(--shadow-glow); */
	}
	.button:active {
		@apply scale-95 transform opacity-70;
	}
	.button.active {
		@apply border-sky-300 bg-sky-200 text-sky-900;
	}
	.button:disabled {
		@apply pointer-events-none cursor-auto opacity-20 grayscale;
	}
}
@layer base {
	h6,
	h5,
	h4,
	h3,
	h2,
	h1 {
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		line-height: 1.2;
	}

	h1,
	.h1 {
		font-size: 2.5rem;
	}

	h2,
	.h2 {
		font-size: 2rem;
	}

	h3,
	.h3 {
		font-size: 1.75rem;
	}

	h4,
	.h4 {
		font-size: 1.5rem;
	}

	h5,
	.h5 {
		font-size: 1.25rem;
	}

	h6,
	.h6 {
		font-size: 1rem;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	p.lead {
		font-size: 1.1rem;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
}

/* --------------------------------- Layout --------------------------------- */
@layer components {
	.main {
		flex: 1;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'page';
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}

	.page {
		grid-area: page;
		width: 100%;
		height: 100%;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		padding-bottom: 4rem;

		> article {
			padding: var(--spacing-clamp);
			width: 100%;
			max-width: var(--page-width);
			margin-left: auto;
			margin-right: auto;
		}
	}
	/* 	.page-fixed {
		overflow: hidden;
	} */
	.page-grow > article {
		flex: 1;
		margin-top: var(--page-space);
		margin-bottom: var(--page-space);
	}

	.page.center {
		align-items: center;
		justify-content: center;
	}

	.page.nwp,
	.ani-nwp {
		animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
		animation-delay: var(--nwp-ani-dura, 250ms);
	}

	.page > article,
	.content {
		padding: var(--spacing-clamp);
		width: 100%;
		max-width: var(--page-width);
		margin-left: auto;
		margin-right: auto;
	}
	.content.is-flat {
		padding-top: 0;
		padding-bottom: 0;
	}
}
dialog {
	margin: auto;
}
@layer components {
	.split {
		--gap: var(--spacing-sm);
		display: flex;
		align-items: center;
		gap: var(--gap);
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.nav {
		--gap: var(--spacing-sm);
		display: flex;
		gap: var(--gap);
		flex-wrap: nowrap;
		align-items: center;
		justify-content: start;
	}

	.nav.end {
		justify-content: end;
	}

	.nav.center {
		justify-content: center;
	}

	.nav.wrap {
		flex-wrap: wrap;
	}

	.stack-list {
		--gap: var(--spacing-xs);
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}
	.stack-list {
		.stack-item {
			--list-grid-cols: minmax(0, auto) 1fr;
			position: relative;
			display: grid;
			grid-auto-flow: column;
			gap: var(--spacing-base);
			padding: var(--spacing-base);
			word-break: break-word;
			grid-template-columns: var(--list-grid-cols);
			align-items: center;
			text-align: left;
		}
	}
	.cluster {
		--gap: var(--spacing-sm);
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
	}
}
.button:disabled,
button:disabled {
	opacity: 0.3;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

/* ---------------------------------- Utils --------------------------------- */
a,
a:active,
a:hover {
	text-decoration: none;
}

.img-grid {
	--min: 68px;
	--gap: 0.5rem;
	display: grid;
	grid-gap: var(--gap);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.img-grid figure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	aspect-ratio: 1/1;
	padding: var(--spacing-xs);
	> svg {
		--fs: calc(var(--min) * 0.6);
		flex: 1;
		font-size: var(--fs);
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}
	figcaption {
		font-size: 0.7rem;
		font-weight: 100;
		opacity: 0.5;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

svg.icon,
svg {
	stroke: currentColor;
	fill: currentColor;

	&.nwp-icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}
}

svg.nwp-icon {
	font-size: var(--fs, 24px);
}

svg.icon-lg {
	--fs: 32px;
}

svg.icon-xl {
	--fs: 48px;
}

svg.icon-sm {
	--fs: 20px;
}

svg.icon-xs {
	--fs: 16px;
}

.padded {
	padding: var(--spacing-clamp);
}

.padded-flat {
	padding: 0 clamp(1rem, 2vw, 2rem);
}

.padded-sm {
	padding: calc(clamp(1rem, 2vw, 2rem) * 0.5) clamp(1rem, 2vw, 2rem);
}

@keyframes circle-in-center {
	from {
		clip-path: circle(0%);
	}
	to {
		clip-path: circle(125%);
	}
}

.modal-box {
	width: calc(11 / 12 * 100%);
	max-width: 30rem;
	background-color: var(--color-base-100);
	padding: var(--spacing-lg);
	border-radius: var(--radius-lg);
}

input:where([type='checkbox']) {
	--tw-ring-color: var(--color-primary);
	border-radius: 2px;
	color: var(--color-primary);
}

.pattern-bg {
	--primary: #0082ce;
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='75.141' height='43' patternTransform='scale(8) rotate(55)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffff00'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z' transform='translate(3,0)' stroke-width='6.5' stroke='%230082ce' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-816,-232)' fill='url(%23a)'/></svg>");
}
